#===============================================================
# get help with ":help UltiSnips"
#
# Type "sn" or "snippet" to trigger snippet for snippet creating
#===============================================================

snippet "# temp" "temperory files" rb
# ignore temperory files

# general
*~

# verible
verible.filelist

# windows office
~$*
endsnippet

