#======================================
# snippets from Ultisnips are available
#======================================


#--------------------
# Vim temporary files
#--------------------

*~
*.un~
*.swp


