# ignore vim operation record files
*~
*.swp

# ignore shotlink files
*.lnk

# ignore verible implementation
languageserver/verible/*.*
!languageserver/verible/verible-verilog-lint.config

