#===================================================================================================
#
#   Target Code : Verilog
#   Version     : 1.0.3
#
#   Description
#		module skeleton
#
#   Additional info
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#
#===================================================================================================

snippet module "module block definition" bA
module ${1:`!p import os; name, ext = os.path.splitext(fn); snip.rv = name`} #(
	//======================
	//  PARAMETER DEFINITION
	//======================

	${2:parameter   DATA_WIDTH = 8,}

	//  Variable Bit Width
	${3:/*  use "local(param)?\?" or "param(eter)?\?" snippets  */}
)
(
	//=================
	//  PORT DEFINITION
	//=================

	input   clk,
	input   rst_n,
);$0


//=====================
//  LATENCY DESCRIPTION
//=====================

${4:localparam  LATENCY = 2;}


//=====================
//  VARIABLE DEFINITION
//=====================



//===============
//  DESIGN CODING
//===============



//=====================
//  FUNCTION DEFINITION
//=====================



//=================
//  PARAMETER CHECK
//=================

localparam  CHK_DATA_WIDTH  = 1 / (DATA_WIDTH == 0);


endmodule
endsnippet


