#===================================================================================================
#
#   Target Code     :   SystemVerilog
#   Version         :   v1.0.1
#
#   Description     :   UVM based agent class
#
#   Additional info :   Get instruction with ":help UltiSnips".
#                       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author          :   TBD9rain
#   Email           :
#
#===================================================================================================

snippet class "UVM Agent" b
class ${1:Agent}${2: #(
	parameter type TXN = ${3:Txn}
)} extends uvm_agent;
	\`uvm_component`!p snip.rv='_param' if t[2] else ''`_utils($1`!p snip.rv=' #(TXN)' if t[2] else ''`)

	//  variable definition${5:
	${5:Sqr}${6: #(TXN)} sqr;
	${7:Drv}${8: #(TXN)} drv;}
	${9:Mon}${10: #(TXN)} mon;

	uvm_analysis_port #(TXN) ap;$0

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);${11:
		if (!uvm_config_db#(uvm_active_passive_enum)::get(this, "", "is_active", is_active)) begin
			\`uvm_fatal("Agt", "is_active is not set.")
		end
		if (is_active == UVM_ACTIVE) begin
			sqr = $5$6::type_id::create("sqr", this);
			drv = $7$8::type_id::create("drv", this);
		end}
		mon = $9$10::type_id::create("mon", this);
		ap = new("ap", this);
	endfunction

	function void connect_phase(uvm_phase phase);
		super.connect_phase(phase);${12:
		if (is_active == UVM_ACTIVE) begin
			drv.seq_item_port.connect(sqr.seq_item_export);
		end}
		mon.ap.connect(ap);
	endfunction
endclass
endsnippet


