#===================================================================================================
#
#   Target Code : SystemVerilog
#   Version     : 1.0.3
#
#   Description
#       UVM based agent
#
#   Additional info
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#
#===================================================================================================

snippet class "UVM Agent" b
class ${1:Agent}${2: #(
	$3
)} extends uvm_agent;

	\`uvm_component`!p snip.rv='_param' if t[2] else ''`_utils($1${4: #($5)})

	//  variable definition
	typedef ${6:Txn}${7: #($8)} TXN;
${9:
	${10:Sqr}${11: #($12)} sqr;
	${13:Drv}${14: #($15)} drv;}
	${16:Mon}${17: #($18)} mon;

	uvm_analysis_port #(TXN) ap;$0

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);${19:
		if (!uvm_config_db#(uvm_active_passive_enum)::get(this, "", "is_active", is_active)) begin
			\`uvm_fatal("$1", "is_active is not set.")
		end
		if (is_active == UVM_ACTIVE) begin
			sqr = $10$11::type_id::create("sqr", this);
			drv = $13$14::type_id::create("drv", this);
		end}
		mon = $16$17::type_id::create("mon", this);
		ap = new("ap", this);
	endfunction

	function void connect_phase(uvm_phase phase);
		super.connect_phase(phase);${20:
		if (is_active == UVM_ACTIVE) begin
			drv.seq_item_port.connect(sqr.seq_item_export);
		end}
		mon.ap.connect(ap);
	endfunction
endclass
endsnippet


