#===================================================================================================
#
#   Target Code : SystemVerilog
#   Version     : 1.2.3
#
#   Description
#       UVM based environment
#
#   Additional info
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#
#===================================================================================================

snippet "Env(ironment)?" "UVM Environment" rb
class ${1:Environment}${2: #(
	$3
)} extends uvm_env;

	\`uvm_component`!p snip.rv='_param' if t[2] else ''`_utils($1${4: #($5)})

	//  variable definition
	typedef ${6:InTxn}${7: #($8)} ITXN;
	typedef ${9:OutTxn}${10: #($11)} OTXN;

	${12:InAgt}${13: #($14)} i_agt;
	${15:OutAgt}${16: #($17)} o_agt;
	${18:Cov}${19: #($20)} cov;
	${21:Mdl}${22: #($23)} mdl;
	${24:Scb}${25: #($26)} scb;
	${27:ScbFI}${28: #($29)} fi;

	bit fault_inject_en = 0;
	int unsigned ref_latency = 0;

	uvm_tlm_analysis_fifo #(ITXN) cov_sti_fifo;
	uvm_tlm_analysis_fifo #(ITXN) mdl_sti_fifo;
	uvm_tlm_analysis_fifo #(ITXN) scb_sti_fifo;
	uvm_tlm_analysis_fifo #(OTXN) scb_obs_fifo;
	uvm_tlm_fifo #(OTXN) scb_exp_fifo;$0

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);

		if (!uvm_config_db #(bit)::get(this, "", "fault_inject_en", fault_inject_en)) begin
			\`uvm_fatal("$1", "fault inject enable is not set")
		end
		uvm_config_db #(bit)::set(this, "scb", "fault_inject_en", fault_inject_en);
		if (!uvm_config_db #(int unsigned)::get(this, "", "ref_latency", ref_latency)) begin
			\`uvm_fatal("$1", "Reference latency is not set.")
		end
		uvm_config_db #(int unsigned)::set(this, "scb", "ref_latency", ref_latency);

		i_agt = $12$13::type_id::create("i_agt", this);
		o_agt = $15$16::type_id::create("o_agt", this);
		cov = $18$19::type_id::create("cov", this);
		mdl = $21$22::type_id::create("mdl", this);
		scb = $24$25::type_id::create("scb", this);
		if (fault_inject_en) begin
			fi = $27$28::type_id::create("fi", this);
		end

		cov_sti_fifo = new("cov_sti_fifo", this);
		mdl_sti_fifo = new("mdl_sti_fifo", this);
		scb_sti_fifo = new("scb_sti_fifo", this);
		scb_obs_fifo = new("scb_obs_fifo", this);
		scb_exp_fifo = new("scb_exp_fifo", this, ref_latency);

		uvm_config_db #(uvm_active_passive_enum)::set(this, "i_agt", "is_active", UVM_ACTIVE);
		uvm_config_db #(uvm_active_passive_enum)::set(this, "o_agt", "is_active", UVM_PASSIVE);
	endfunction

	function void connect_phase(uvm_phase phase);
		super.connect_phase(phase);

		i_agt.ap.connect(cov_sti_fifo.analysis_export);
		cov.imon_getp.connect(cov_sti_fifo.blocking_get_export);

		i_agt.ap.connect(mdl_sti_fifo.analysis_export);
		mdl.imon_getp.connect(mdl_sti_fifo.blocking_get_export);

		i_agt.ap.connect(scb_sti_fifo.analysis_export);
		scb.imon_getp.connect(scb_sti_fifo.nonblocking_get_export);

		if (fault_inject_en) begin
			o_agt.ap.connect(fi.imp);
			fi.ap.connect(scb_obs_fifo.analysis_export);
		end
		else begin
			o_agt.ap.connect(scb_obs_fifo.analysis_export);
		end
		scb.omon_getp.connect(scb_obs_fifo.blocking_get_export);

		mdl.scb_putp.connect(scb_exp_fifo.blocking_put_export);
		scb.mdl_getp.connect(scb_exp_fifo.nonblocking_get_export);
	endfunction
endclass
endsnippet

snippet "Env(ironment)?" "UVM Integrated Environment" rb
class ${1:Environment}${2: #(
	$3
)} extends uvm_env;

	\`uvm_component`!p snip.rv='_param' if t[2] else ''`_utils($1${4: #($5)})

	//  variable definition
	${6:Env0}${7: #($8)} ${9:env0};
	${10:Env1}${11: #($12)} ${13:env1};

	${14:VSqr}${15: #($16)} ${17:vsqr};

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	function void build_phase(uvm_phase phase);
		super.build_phase(phase);

		$9 = $6$7::type_id::create("$9", this);
		$13 = $10$11::type_id::create("$13", this);
		$17 = $14$15::type_id::create("$17", this);
	endfunction

	function void connect_phase(uvm_phase phase);
		super.connect_phase(phase);

		$17.sqr0 = $9.i_agt.sqr;
		$17.sqr1 = $13.i_agt.sqr;
	endfunction
endclass
endsnippet


