#===================================================================================================
#
#   Target Code : SystemVerilog
#   Version     : 1.3.0
#
#   Description
#       UVM based test
#
#   Additional info
#       Get instruction with ":help UltiSnips".
#       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author  : TBD9rain
#
#===================================================================================================

snippet "Test" "UVM Test" rb
class ${1:Test} extends uvm_test;

	\`uvm_component_utils($1)

	//  variable definition
	${2:Config}${3: #($4)} ${5:cfg};

	${6:Env}${7: #($8)} env;$0

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	virtual function void build_phase(uvm_phase phase);
		super.build_phase(phase);

		if (!uvm_config_db #($2$3)::get(this, "", "$5", $5)) begin
			\`uvm_fatal("$1", "configuration is not set.")
		end
		uvm_config_db #($2$3)::set(this, "env", "$5", $5);

		env = $6$7::type_id::create("env", this);

		//  global timeout watchdog; 0 disables the timeout (runs until objections drop)
		uvm_root::get().set_timeout(0);
		//  simulation exit due to too many errors
		//  UVM 1.1d uses \`get_server()\`, UVM 1.1 uses \`get()\`
		uvm_report_server::get_server().set_max_quit_count(20);

		set_report_verbosity_level_hier(UVM_DEBUG);
	endfunction

	virtual task main_phase(uvm_phase phase);
		${9:Sequence}${10: #($11)} seq;

		phase.raise_objection(this);

		//  control sequence start
		seq = $9$10::type_id::create("seq");
		seq.start(env.i_agt.sqr);

		//  delay before drop objection
		phase.phase_done.set_drain_time(this, 1000ns);
		phase.drop_objection(this);
	endtask

	virtual function void report_phase(uvm_phase phase);
		uvm_report_server rpt_ser;
		int err_num;

		super.report_phase(phase);

		rpt_ser = get_report_server();
		err_num = rpt_ser.get_severity_count(UVM_ERROR);

		if (err_num) begin
			$write("\n");
			$write("============\n");
			$write("Test failed.\n");
			$write("============\n");
			$write("\n");
		end
		else begin
			$write("\n");
			$write("============\n");
			$write("Test passed.\n");
			$write("============\n");
			$write("\n");
		end
	endfunction
endclass
endsnippet


snippet "Test" "UVM Test to Extend" rb
class ${1:Test} extends ${2:BaseTest};

	\`uvm_component_utils($1)

	//  variable definition
	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	virtual function void build_phase(uvm_phase phase);
		super.build_phase(phase);

		set_report_verbosity_level_hier(UVM_LOW);
	endfunction

	virtual task main_phase(uvm_phase phase);
		${3:Sequence}${4: #($5)} seq;

		phase.raise_objection(this);

		//  control sequence start
		seq = $3$4::type_id::create("seq");
		seq.start(env.i_agt.sqr);

		//  delay before drop objection
		phase.phase_done.set_drain_time(this, 1000ns);
		phase.drop_objection(this);
	endtask
endclass
endsnippet


snippet "Test" "UVM Test to Verify Scoreboard" rb
class ${1:Test} extends ${2:BaseTest};

	\`uvm_component_utils($1)

	//  variable definition
	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	virtual function void build_phase(uvm_phase phase);
		super.build_phase(phase);

		${3:cfg}.fault_inject_en = 1;

		//  simulation exit due to too many errors
		uvm_report_server::get_server().set_max_quit_count(0);
		set_report_verbosity_level_hier(UVM_LOW);
	endfunction

	virtual function void report_phase(uvm_phase phase);
		uvm_report_server rpt_ser;
		int err_num;

		rpt_ser = get_report_server();
		err_num = rpt_ser.get_severity_count(UVM_ERROR);

		if (err_num == 0) begin
			$write("\n");
			$write("=======================\n");
			$write("Scoreboard Test failed.\n");
			$write("=======================\n");
			$write("\n");
		end
		else begin
			$write("\n");
			$write("==========================\n");
			$write("Scoreboard Test completed.\n");
			$write("==========================\n");
			$write("\n");
		end
	endfunction
endclass
endsnippet
