#===================================================================================================
#
#   Target Code     :   SystemVerilog
#   Version         :   v1.1.0
#
#   Description     :   UVM based test class
#
#   Additional info :   Get instruction with ":help UltiSnips".
#                       Use "snippet" or "sn" to trigger snippet for snippet edition.
#
#   Author          :   TBD9rain
#   Email           :
#
#===================================================================================================

snippet class "UVM Test" b
class ${1:Test} extends uvm_test;
	\`uvm_component_utils($1)

	localparam ${2:DATA_WIDTH = 8};

	localparam type ITXN = ${3:InTxn};
	localparam type OTXN = ${4:OutTxn};
	localparam longint unsigned LATENCY = ${5:1};

	//  variable definition
	${6:Env}${7: #(ITXN, OTXN, LATENCY)} env;$0

	function new(string name="$1", uvm_component parent=null);
		super.new(name, parent);
	endfunction

	virtual function void build_phase(uvm_phase phase);
		super.build_phase(phase);
		uvm_config_db#(uvm_object_wrapper)::set(this,
			"env.i_agt.sqr.main_phase",
			"default_sequence",
			${8:Sequence}${9: #(ITXN)}::type_id::get());
		env = $6$7::type_id::create("env", this);
	endfunction

	virtual function void report_phase(uvm_phase phase);
		uvm_report_server rpt_ser;
		int err_num;

		super.report_phase(phase);
		rpt_ser = get_report_server();
		err_num = rpt_ser.get_severity_count(UVM_ERROR);

		if (err_num) begin
			$write("\nTest failed.\n");
		end
		else begin
			$write("\nTest passed.\n");
		end
	endfunction
endclass
endsnippet


